extends layout

block content
  h1.my-4= title

  .border.bg-light.p-3
    form(onsubmit="goToRoom(event)")
      label.form-label(for="room-name") Join a room
      input#room-name.form-control(type="search", required, autofocus)
      button.mt-3.btn.btn-primary(type="submit") Go!

block scripts
  script.
    function slugify(s){
      return s
          .toLowerCase()
          .replace(/\W+/, '')
          .replace(/\s+/, '-')
    }

    function goToRoom(event) {
      event.preventDefault()
      const roomName = slugify(document.querySelector('#room-name').value)
      if (roomName) {
        console.log(roomName)
        window.location.href = `/${roomName}`
      }
    }
