doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/static/styles/style.css')
  body
    main#main.container
      block content
    block templates
    block scripts
