extends layout

block content
  h1.my-4(style="text-transform: capitalize")= roomName

  #control.container.border.shade-odd-rows
    .row
      .col
        label.form-label(for="name") Character name
        input#input-name.form-control(type="text" name="name" v-model="name" required)
      .col.align-self-end
        dice-bar(:stat="{name: '', value: 0}")
    .row(v-for="(stat, idx) in stats" :key="stat.name")
      .col
        stat-box(:stat="stat" :index="idx")
      .col.align-self-center
        dice-bar(:stat="stat")

    .row.w-50
      form.col(@submit.prevent="handleAddStat()")
        -// This could be a little expando
        label.form-label(for="new-stat-name") Add stat
        .row
          .col.pe-0
            input#new-stat-name.form-control(type="text" name="new-stat-name"
                style="border-top-right-radius: 0; border-bottom-right-radius: 0")
          .col.ps-0
            button.btn.btn-secondary.btn-sm.h-100(
              style="border-top-left-radius: 0; border-bottom-left-radius: 0"
            ) +

  #messages.border.p-3
    message(v-for="message in messageList" :key="message.id" :message="message")

block templates
  template#tpl-message
    .message
      span.character-name {{ message.name }}
      |
      | rolled
      |
      span.stat-name(style="text-transform: uppercase") {{ message.stat }}
      | :
      |
      //span.result {{ message.result.dice }}
      span.result
        | [
        span(v-for="(die, idx) in message.result.dice")
          template(v-if="idx > 0")=', '
          span(:class="die < 0 ? 'text-decoration-line-through' : ''")
            | {{ Math.abs(die) }}
        | ]
      template(v-if="message.stat")
        |
        | {{ message.modifier < 0 ? '\u2212' : '+' }}
        |
        span.modifier {{ Math.abs(message.modifier) || 0 }}
      |
      | =
      |
      span.result.fw-bold {{ message.result.value + (message.modifier || 0) }}

  template#tpl-dice-bar
    .dice-bar
      button.mx-1.btn.btn-sm.btn-primary(@click="roll(stat, '3d6kl2')")
        | &#8722;&#8722;
      button.mx-1.btn.btn-sm.btn-primary(@click="roll(stat, '2d6')")
        | 2d6
      button.mx-1.btn.btn-sm.btn-primary(@click="roll(stat, '3d6kh2')")
        | ++

  template#tpl-stat-box
    .d-flex.align-items-center.justify-content-end
      button.btn-sm.btn-close.align-self-center(
          type="button" aria-label="Close"
          @click="removeStat(index)")
      span.mx-2.fs-2.flex-grow-1.text-end {{ stat.name }}
      input.form-control(
          name="modifier" type="number" min="-5" max="5"
          v-model="stat.modifier"
          @change="saveStats()"
          style="width: 4em")

block scripts
  script(src='/libraries/vue/dist/vue.min.js')
  script(src='/static/javascripts/room.js')
